<!DOCTYPE html>
<html>
  <head>
    <title>Shyftplan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <ul>
      <% @companies.each do |company| %> 
        <li>
          <div><%= company.name %></div>
        </li>
      <% end %>
    </ul>
  </body>
</html>
