<!DOCTYPE html>
<html>
  <head>
    <title>Shyftplan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><%= link_to("Companies", companies_path) %></li>
      <li><%= link_to("New Company", new_company_path) %></li>
      <li><%= link_to("Employee", employees_path) %></li>
      <li><%= link_to("New Employee", new_employee_path) %></li> 
    </ul>
    <hr/>
    <%= yield %>
  </body>
</html>